<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather App</title>
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .row div{padding: 20px 10px; border: 10px solid white;}</style>
    <div class="jumbotron jumbotron-fluid bg-info text-white" style="background: lightblue">
      <div class="container">
      <h1 class="display-2">London Weather</h1>
      </div>
    </div>

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-1">
            <h1 class="display-1"> <%= Math.round(datas.temp) %> </h1>
          </div>
          <div class="col-sm-1">
              <h2> &deg;C</h2>
            </div>
          <div class="col-sm-6">
            <% if(datas.main == "Rain"){ %>
              <img src="image/rain.ico" alt="rain" height="150" width="200">
            <% } else if(datas.main == "Clouds"){ %>
          <img src="image/Clouds.icon" alt="rain" height="150" width="200">
            <% }else if(datas.main == "Clear"){ %>
          <img src="image/Clear.icon" alt="rain" height="150" width="200">
            <% }else{ %>
              <h1></h1>
           <% } %>
            </div>
   </div>
       <div class="row">
        <div class="col-sm-6">
       <h5><script type="text/javascript">
            var d=new Date()
            var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
            "Friday","Saturday")
          document.write( weekday[d.getDay()] + " Weather")
        </script> </h5>
       <p> description: <%= datas.description %> </p>
       <p>Pressure: <%= datas.pressure %> </p>
       <p> Humidity: <%= datas.humidity %> </p>
        </div>
   </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <p> Date & Time: <%= datas.dt_txt2 %></p>
        <p> Temperature: <%= datas.temp2 %> </p>
        <p> Pressure: <%= datas.pressure2 %> </p>
        <p> Humidity: <%= datas.humidity2 %> </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p> Date & Time: <%= datas.dt_txt3 %></p>
        <p> Temperature: <%= datas.temp3 %> </p>
        <p> Pressure: <%= datas.pressure3 %> </p>
        <p> Humidity: <%= datas.humidity3 %> </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p> Date & Time: <%= datas.dt_txt4 %></p>
        <p> Temperature: <%= datas.temp4 %> </p>
        <p> Pressure: <%= datas.pressure4 %> </p>
        <p> Humidity: <%= datas.humidity4 %> </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p> Date & Time: <%= datas.dt_txt5 %></p>
        <p> Temperature: <%= datas.temp5 %> </p>
        <p> Pressure: <%= datas.pressure5 %> </p>
        <p> Humidity: <%= datas.humidity5 %> </p>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
