<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="assets\styles.css" />
  </head>

  <body>
<h1> London Weather </h1>

<div class="dataOne">
  <ul>
  <li><h2> Date & Time: <%= datas.dt_txt2 %></h2></li>
  <li><h2> Temperature: <%= datas.temp2 %> </h2></li>
  <li><h2>Pressure: <%= datas.pressure2 %> </h2></li>
  <li><h2> Humidity: <%= datas.humidity2 %> </h2></li>
  </ul>
</div>

<div class="dataTwo">
    <p> Date & Time: <%= datas.dt_txt2 %></p>
    <h3> Temperature: <%= datas.temp2 %> </h3>
    <p> Pressure: <%= datas.pressure2 %> </p>
    <p> Humidity: <%= datas.humidity2 %> </p>
</div>

<div class="dataThree">
    <p> Date & Time: <%= datas.dt_txt3 %></p>
    <h3> Temperature: <%= datas.temp3 %> </h3>
    <p> Pressure: <%= datas.pressure3 %> </p>
    <p> Humidity: <%= datas.humidity3 %> </p>
</div>

<div class="dataFour">
    <p> Date & Time: <%= datas.dt_txt4 %></p>
    <h3> Temperature: <%= datas.temp4 %> </h3>
    <p> Pressure: <%= datas.pressure4 %> </p>
    <p> Humidity: <%= datas.humidity4 %> </p>
</div>

<div class="dataFive">
    <p> Date & Time: <%= datas.dt_txt5 %></p>
    <h3> Temperature: <%= datas.temp5 %> </h3>
    <p> Pressure: <%= datas.pressure5 %> </p>
    <p> Humidity: <%= datas.humidity5 %> </p>
</div>

  </body>

</html>
